* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 9fr;
    height: 100%;
    width: 100%;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
    border-bottom: 5px solid rgb(0, 153, 255);
    border-right: 1px solid gray;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
    border-bottom: 5px solid orange;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
    border-bottom: 5px solid green;
    border-left: 1px solid gray;
}

.div4 {
    grid-area: 2 / 1 / 3 / 2;
    border: 1px solid rgb(0, 153, 255);
}

.div5 {
    grid-area: 2 / 2 / 3 / 3;
    border: 1px solid orange;
}

.div6 {
    grid-area: 2 / 3 / 3 / 4;
    border: 1px solid green;
}

.table-header {
    background-color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    padding: 8px;
    user-select: none;
}

.add-task-text {
    width: 100%;
    padding: 10px 37px 10px 10px;
    border: 4px solid black;
    box-sizing: border-box;
    outline: 0px;
}

.add-task-color {
    position: absolute;
    top: 7px;
    right: 9px;
    appearance: none;
    background-color: transparent;
    width: 25px;
    height: 30px;
    border: 0px;
    padding: 0px;
    cursor: pointer;
}

.add-task-color::-moz-color-swatch {
    border: 0;
    border-radius: 4px;
}

.add-task-color::-webkit-color-swatch {
    border: 0;
    border-radius: 4px;
}

.add-task-form {
    position: relative;
}

.task-item {
    background-color: white;
    padding: 8px;
    padding-right: 55px;
    padding-left: 16px;
    border-bottom: 1px solid black;
    position: relative;
    text-align: justify;
    user-select: none;
}

.task-item-color {
    width: 3px;
    height: 80%;
    /* border-radius: 0px 0px 20px 20px; */
    position: absolute;
    top: 10%;
    right: 4px;
}

.task_move_arrows {
    position: absolute;
    right: 10px;
    top: 6px;
}

.remove_task_link {
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    left: 4px;
    top: 12px;
    color: red;
    text-decoration: none;
}

.move_left_link {
    color: red;
    text-decoration: none;
    transition: 200ms;
    padding: 2px;
}

.move_left_link:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.move_right_link {
    color: green;
    text-decoration: none;
    transition: 200ms;
    padding: 2px;
}

.move_right_link:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.edit-task-panel-back {
    z-index: 99;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0px;
    left: 0px;
}

.edit-task-panel {
    background-color: rgb(28 28 28);
    border-radius: 8px;
    width: 35%;
    height: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px 30px;
}

.edit-task-panel>form {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.edit-task-panel>form>textarea {
    width: 100%;
    height: 50%;
    outline: 0px;
}

.edit-task-panel>form>div {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.edit-task-panel>form>h1 {
    user-select: none;
    color: white;
}

.edit-task-panel-button {
    border-radius: 4px;
    border: 0;
    padding: 7px 14px;
    outline: 0px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.edit-task-panel-button:nth-child(1) {
    background-color: maroon;
}

.edit-task-panel-button:nth-child(2) {
    background-color: green;
}

#edit-task-color {
    position: absolute;
    bottom: 10px;
    left: 0px;
    appearance: none;
    background-color: transparent;
    width: 64px;
    height: 30px;
    border: 0px;
    padding: 0px;
    cursor: pointer;
}

#edit-task-color::-moz-color-swatch {
    border: 0;
    border-radius: 4px;
}

#edit-task-color::-webkit-color-swatch {
    border: 0;
    border-radius: 4px;
}

.user-data-div {
    color: black;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: white;
    border: 1px solid lightblue;
    border-radius: 3px;
    padding: 10px 20px;
    user-select: none;
}

.user-data-div>a:nth-child(1) {
    color: blue;
    text-decoration: none;
}

.user-data-div>a:nth-child(2) {
    color: red;
    text-decoration: none;
}

.task-user-text {
    color: gray;
    font-size: 14px;
}

#announcement-button {
    width: 50px;
    height: 50px;
    padding: 0px;
    border: 1px solid lightblue;
    border-radius: 4px;
    position: fixed;
    bottom: 10px;
    left: 10px;
    cursor: pointer;
    background-color: white;
    z-index: 101;
}

#announcement-button>img {
    width: 100%;
}

#announcements-panel-bg {
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 100;
}

#announcements-panel {
    background-color: rgba(0, 164, 255, 0.1);
    border-radius: 8px;
    width: 60%;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 30px;
    overflow-y: scroll;
}

#announcements-panel::-webkit-scrollbar {
    width: 5px;
}

#announcements-panel::-webkit-scrollbar-track {
    background-color: #FFFFFF;
    border-radius: 10px;
}

#announcements-panel::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 10px;
}

#announcements-panel::-webkit-scrollbar-thumb:hover {
    background-color: #222222;
}

#announcements-panel>h1 {
    color: white;
    margin: 0px 0px 20px 0px;
}

#announcements-panel>table {
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

#announcements-panel td {
    padding: 10px;
    text-align: justify;
}

#announcements-panel tr:nth-child(1) {
    font-weight: bold;
}

#announcements-panel tr:nth-child(2n - 1) {
    background-color: white;
}

#announcements-panel tr:nth-child(2n) {
    background-color: lightblue;
}

.announcement-textarea{
    width: 100%;
    height: 140px;
    padding: 15px;
    box-sizing: border-box;
    outline: 0px;
    border-radius: 10px;
    font-size: 18px;
}

.announcement-button{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 18px;
    color: white;
    background-color: green;
    cursor: pointer;
    border: 0px;
}

.remove-link{
    color: maroon;
    text-decoration: none;
}